@{
    Layout = "_LayoutAdmin";
    ViewData["Title"] = "Danh sách truyện";
}
@model List<Article>
@using BookWormProject.Data.Services
@inject IArticleService articleService

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title text-uppercase">@ViewData["Title"]</h3>
                <div class="card-tools">
                    <a class="btn btn-outline-success" onclick="createArticle()"><i class="fas fa-plus"></i> Tạo mới</a>
                </div>
            </div>
            <div class="card-body p-0">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th style="width: 5%">#ID</th>
                            <th style="width: 10%">Tên truyện</th>
                            <th style="width: 10%">Tác giả</th>
                            <th style="width: 10%">Thể loại</th>
                            <th style="width: 10%">Số chương</th>
                            <th style="width: 10%">Mô tả</th>
                            <th style="width: 10%">Người tạo</th>
                            <th style="width: 10%">Thời gian tạo</th>
                            <th style="width: 10%">Thời gian cập nhật</th>
                            <th style="width: 10%">Hành động</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var article in Model)
                        {
                            <tr>
                                <td>@article.ArticleId</td>
                                <td><a href="/p/@article.ArticleId" target="_blank">@article.Title</a></td>

                                <td>
                                    @foreach (var author in article.Authors)
                                    {
                                        <span class="badge badge-primary">@author.Name</span>
                                    }
                                </td>
                                <td>
                                    @foreach (var genre in article.Genres)
                                    {
                                        <span class="badge badge-success">@genre.Name</span>
                                    }
                                </td>
                                <td>@articleService.GetChaptersForArticle(article.ArticleId).Count()</td>
                                <td>@article.Description</td>
                                <td>
                                    @article.User?.Name
                                </td>
                                <td>@article.CreatedAt</td>
                                <td>@article.UpdatedAt</td>
                                <td>
                                    <a class="btn btn-outline-primary btn-sm" onclick="editArticle(@article.ArticleId)"><i class="fas fa-pencil-alt"></i> Sửa</a>
                                    <a class="btn btn-outline-danger btn-sm" onclick="deleteArticle(@article.ArticleId)"><i class="fas fa-trash"></i> Xoá</a>
                                    <a href="/admin/chapter?articleId=@article.ArticleId" class="btn btn-outline-info btn-sm"><i class="fas fa-pencil-alt"></i> Sửa chương</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    function editArticle(id) {
        // Redirect to edit page
        window.location.href = "/Article/Edit/" + id;
    }

    function createArticle() {
        // Redirect to edit page
        window.location.href = "/Article/Create/";
    }

    function deleteArticle(id) {
        if (confirm("Are you sure you want to delete this article?")) {
            // Send delete request to server
            $.ajax({
                url: "/Article/Delete/" + id,
                type: "POST",
                data: {
                    id: id
                },
                success: function (result) {
                    // Reload page after successful delete
                    alert("Xoá bài viết thành công !");
                    location.reload();
                }
            });
        }
    }
</script>
