@{
    Layout = "_LayoutAdmin";
    ViewData["Title"] = "List Article";
}
@model List<Article>

<div class="row">
    <div class="col-md-12">
        <ol class="breadcrumb float-sm-left">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/admin/article">Article</a></li>
            <li class="breadcrumb-item active">@ViewData["Title"]</li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Articles</h3>
                <div class="card-tools">
                    <a class="btn btn-outline-success" onclick="createArticle()"><i class="fas fa-plus"></i> Add Article</a>
                </div>
            </div>
            <div class="card-body p-0">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th style="width: 5%">ID</th>
                            <th style="width: 10%">Title</th>
                            <th style="width: 20%">Description</th>
                            <th style="width: 10%">Authors</th>
                            <th style="width: 10%">Category</th>
                            <th style="width: 10%">Genres</th>
                            <th style="width: 10%">Created At</th>
                            <th style="width: 10%">Updated At</th>
                            <th style="width: 10%">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var article in Model)
                        {
                            <tr>
                                <td>@article.ArticleId</td>
                                <td>@article.Title</td>
                                <td>@article.Description</td>
                                <td>
                                    @foreach (var author in article.Authors)
                                    {
                                        <span class="badge badge-primary">@author.Name</span>
                                    }
                                </td>
                                <td>
                                    @article.Category.Name
                                </td>
                                <td>
                                    @foreach (var genre in article.Genres)
                                    {
                                        <span class="badge badge-success">@genre.Name</span>
                                    }
                                </td>
                                <td>@article.CreatedAt</td>
                                <td>@article.UpdatedAt</td>
                                <td>
                                    <a href="/admin/chapter?articleId=@article.ArticleId" class="btn btn-outline-info btn-sm"><i class="fas fa-pencil-alt"></i> Edit chapter</a>
                                    <a class="btn btn-outline-primary btn-sm" onclick="editArticle(@article.ArticleId)"><i class="fas fa-pencil-alt"></i> Edit</a>
                                    <a class="btn btn-outline-danger btn-sm" onclick="deleteArticle(@article.ArticleId)"><i class="fas fa-trash"></i> Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    function editArticle(id) {
        // Redirect to edit page
        window.location.href = "/Article/Edit/" + id;
    }

    function createArticle() {
        // Redirect to edit page
        window.location.href = "/Article/Create/";
    }

    function deleteArticle(id) {
        if (confirm("Are you sure you want to delete this article?")) {
            // Send delete request to server
            $.ajax({
                url: "/Article/Delete/" + id,
                type: "POST",
                data: {
                    id: id
                },
                success: function (result) {
                    // Reload page after successful delete
                    alert("Xoá bài viết thành công !");
                    location.reload();
                }
            });
        }
    }
</script>
