@{
    Layout = "_LayoutAdmin";
    ViewData["Title"] = "Danh sách tác giả";
}

@model List<Author>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title text-uppercase">@ViewData["Title"]</h3>
                <div class="card-tools">
                    <a href="@Url.Action("Create", "Author")" class="btn btn-outline-success"><i class="fas fa-plus"></i> Tạo mới</a>
                </div>
            </div>
            <div class="card-body p-0">
                <table class="table table-striped projects">
                    <thead>
                        <tr>
                            <th style="width: 5%">
                                #ID
                            </th>
                            <th style="width: 10%">
                                Ảnh đại diện
                            </th>
                            <th style="width: 20%">
                                Tên tác giả
                            </th>
                            <th style="width: 50%">
                                Mô tả
                            </th>
                            <th style="width: 10%">
                                Hành động
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var author in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => author.AuthorId)
                                </td>
                                <td>
                                    <img src="@Url.Content(author.Avatar)" width="50" height="50" />
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => author.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => author.Description)
                                </td>
                                <td>
                                    <a href="@Url.Action("Edit", "Author", new { id = author.AuthorId })" class="btn btn-outline-primary btn-sm"><i class="fas fa-pencil-alt"></i> Sửa</a>
                                    <a onclick="deleteAuthor(@author.AuthorId)" class="btn btn-outline-danger btn-sm"><i class="fas fa-trash"></i> Xoá</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    function deleteAuthor(id) {
        if (confirm("Bạn có chắc chắn muốn xoá tác giả này không?")) {
            // Send delete request to server
            $.ajax({
                url: "/Author/Delete/" + id,
                type: "POST",
                data: {
                    id: id
                },
                success: function (result) {
                    alert("Successfully");
                    location.reload();
                }
            });
        }
    }
</script>