@{
    Layout = "_LayoutAdmin";
    ViewData["Title"] = "Menu danh mục";
}

@model List<Category>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Category</h3>
                <div class="card-tools">
                    <a href="@Url.Action("Create", "category")" class="btn btn-outline-success"><i class="fas fa-plus"></i> Thêm danh mục mới</a>
                </div>
            </div>
            <div class="card-body p-0">
                <table class="table table-striped projects">
                    <thead>
                        <tr>
                            <th style="width: 5%">
                                #ID
                            </th>
                            <th style="width: 20%">
                                Tên danh mục
                            </th>
                            <th style="width: 20%">
                                Đường dẫn
                            </th>
                            <th style="width: 40%">
                                Mô tả
                            </th>
                            <th style="width: 10%">
                                Hành động
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var category in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => category.CategoryId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => category.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => category.Link)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => category.Description)
                                </td>
                                <td>
                                    <a href="@Url.Action("Edit", "category", new { id = category.CategoryId })" class="btn btn-outline-primary btn-sm"><i class="fas fa-pencil-alt"></i> Sửa</a>
                                    <a onclick="deleteCategory(@category.CategoryId)" class="btn btn-outline-danger btn-sm"><i class="fas fa-trash"></i> Xoá</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    function deleteCategory(id) {
        if (confirm("Bạn có chắc chắn muốn xoá không?")) {
            // Send delete request to server
            $.ajax({
                url: "/category/Delete/" + id,
                type: "POST",
                data: {
                    id: id
                },
                success: function (result) {
                    alert("Successfully");
                    location.reload();
                }
            });
        }
    }
</script>