@{
    Layout = "_LayoutAdmin";
    ViewData["Title"] = "Danh sách người dùng";
}

@model List<User>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title text-uppercase">@ViewData["Title"]</h3>
                <div class="card-tools">
                    <a href="@Url.Action("Create", "User")" class="btn btn-outline-success"><i class="fas fa-plus"></i> Tạo mới</a>
                </div>
            </div>
            <div class="card-body p-0">
                <table class="table table-striped projects">
                    <thead>
                        <tr>
                            <th style="width: 5%">
                                #ID
                            </th>
                            <th style="width: 10%">
                                Ảnh đại diện
                            </th>
                            <th style="width: 10%">
                                Tên tài khoản
                            </th>
                            <th style="width: 10%">
                                Email
                            </th>
                            <th style="width: 20%">
                                Tên đầy đủ
                            </th>
                            <th style="width: 10%">
                                Giới tính
                            </th>
                            <th style="width: 10%">
                                Vai trò
                            </th>
                            <th style="width: 10%">
                                Hành động
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var user in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => user.UserId)
                                </td>
                                <td>
                                    <img src="@Url.Content(user.Avatar)" width="50" height="50" />
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => user.UserName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => user.Email)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => user.Name)
                                </td>
                                <td>
                                    @(user.Gender == false ? "Nam" : "Nữ")
                                </td>
                                <td>
                                    @if (user.Role == 1)
                                    {
                                        <font color="red">Quản trị viên</font>
                                    }
                                    else
                                    {
                                        <font color="blue">Người dùng</font>
                                    }
                                </td>

                                <td>
                                    <a href="@Url.Action("EditUser", "User", new { id = user.UserId })" class="btn btn-outline-primary btn-sm"><i class="fas fa-pencil-alt"></i> Sửa</a>
                                    <a class="btn btn-outline-danger btn-sm" onclick="deleteUser(@user.UserId)"><i class="fas fa-trash"></i> Xoá</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    function deleteUser(id) {
        if (confirm("Xoá người dùng này đồng nghĩa với việc xoá mọi hoạt động của họ, bao gồm bài đăng, bình luận,... bạn có chắc chắn muốn xoá không?")) {
            // Send delete request to server
            $.ajax({
                url: "/User/Delete/" + id,
                type: "POST",
                data: {
                    id: id
                },
                success: function(result) {
                    alert("Đã xoá");
                    window.location.reload();
                }
            });
        }
    }
</script>