@{
    Layout = "_LayoutBookWorm";
}

@model BookWormProject.ViewModels.User.UserIndexViewModel
@{
    var currentUser = (Model.CurrentUser.UserId == Model.TargetUser.UserId) ? Model.CurrentUser : Model.TargetUser;
    bool isMyAccount = Model.IsMyAccount;
}
<div id="account-information">
    <div class="container">
        <div class="row">
            <div id="ctl00_divCenter" class="col-sm-12">
                <div class="row">
                    <div class="col-md-3 col-sm-4">
                        <section class="user-sidebar clearfix">
                            <div class="userinfo clearfix">
                                <figure>
                                    <img alt="" src="@currentUser.Avatar" class="avatar user-img">
                                    <figcaption>
                                        <div class="title">Tài khoản của</div>
                                        <div class="user-name">
                                            @currentUser.UserName
                                        </div>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                        <nav class="user-sidelink clearfix">
                            <ul id="user-sidebar">
                                <li class="hvr-sweep-to-right active" onclick="loadGeneralInfo()">
                                    <a href="#"><i class="fa fa-tachometer"></i> Thông tin chung</a>
                                </li>
                                @if (isMyAccount)
                                {
                                    <li class="hvr-sweep-to-right" onclick="loadChangeInfo()">
                                        <a href="#"><i class="fa fas fa-edit"></i> Chỉnh sửa thông tin</a>
                                    </li>
                                }
                                <li class="hvr-sweep-to-right" onclick="loadBookmarks(1)"><a href="#"><i class="fa fa-solid fa-bookmark"></i> Bookmark</a></li>
                                <li class="hvr-sweep-to-right" onclick="loadPostedArticle(1)"><a href="#"><i class="fa fa-list"></i> Bài viết đã đăng</a></li>
                                <li class="hvr-sweep-to-right" onclick="loadComments(1)"><a href="#"><i class="fa fa-comments"></i> Bình luận</a></li>
                                @if (isMyAccount)
                                {
                                    <li class="hvr-sweep-to-right" onclick="loadChangePassword()"><a href="#"><i class="fa fa-lock"></i> Đổi mật khẩu</a></li>
                                }
                            </ul>
                        </nav>
                    </div>
                    <div class="col-md-9 col-sm-8">
                        <div id="load-user-content"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section UserScripts
    {
    <script>
        $(document).ready(function () {
            var urlParams = new URLSearchParams(window.location.search);
            var query = urlParams.get('query');
            if (query === 'bookmark') {
                $('#user-sidebar li.active').removeClass('active');
                $('#user-sidebar li').eq(2).addClass('active');
                loadBookmarks(1);
            }
            else if (query === 'posted_article') {
                $('#user-sidebar li.active').removeClass('active');
                $('#user-sidebar li').eq(3).addClass('active');
                loadPostedArticle(1);
            } else {
                loadGeneralInfo();
            }

            $('#user-sidebar li').click(function () {
                $('#user-sidebar li.active').removeClass('active');
                $(this).addClass('active');
            });
        });

        function loadGeneralInfo() {
            $.ajax({
                url: '/User/GetPartialGeneralResult/?id=' + @currentUser.UserId,
                type: 'GET',
                data: {},
                success: function (result) {
                    $('#load-user-content').html(result);
                },
                error: function () {
                    alert('Failed to load');
                }
            });
        }

        function loadChangeInfo() {
            $.ajax({
                url: '/User/GetPartialChangeInfoResult',
                type: 'GET',
                data: {},
                success: function (result) {
                    $('#load-user-content').html(result);
                },
                error: function () {
                    alert('Failed to load');
                }
            });
        }

        function loadBookmarks(page) {
            $.ajax({
                url: '/User/GetPartialBookmarksResult?page=' + page + '&id=' + @currentUser.UserId,
                type: 'GET',
                dataType: 'html',
                success: function (result) {
                    $('#load-user-content').html(result);
                },
                error: function () {
                    alert('Failed to load');
                }
            });
        }

        function loadComments(page) {
            $.ajax({
                url: '/User/GetPartialCommentsResult?page=' + page + '&id=' + @currentUser.UserId,
                type: 'GET',
                dataType: 'html',
                success: function (result) {
                    $('#load-user-content').html(result);
                },
                error: function () {
                    alert('Failed to load');
                }
            });
        }

        function loadPostedArticle(page) {
            $.ajax({
                url: '/User/GetPartialPostedArticle?page=' + page + '&id=' + @currentUser.UserId,
                type: 'GET',
                dataType: 'html',
                success: function (result) {
                    $('#load-user-content').html(result);
                },
                error: function () {
                    alert('Failed to load');
                }
            });
        }

        function loadChangePassword() {
            $.ajax({
                url: '/User/GetPartialChangePassword',
                type: 'GET',
                data: {},
                success: function (result) {
                    $('#load-user-content').html(result);
                },
                error: function () {
                    alert('Failed to load');
                }
            });
        }
    </script>
}