
@model BookWormProject.ViewModels.Article.ArticleDetailViewModel
@{
    var article = Model;
    var authors = Model.Authors.ToList();
    var genres = Model.Genres.ToList();
    var chapters = Model.Chapters.ToList();
    var user = Model.User;
}

@{
    Layout = "_LayoutBookWorm";
    ViewData["Title"] = article.Title;
}

<div class="container csstransforms3d" id="truyen">
    <div class="col-xs-12 col-sm-12 col-md-9 col-truyen-main">
        <div class="col-xs-12 col-info-desc">
            <div class="title-list book-intro">
                <h2>Thông tin truyện</h2>
            </div>
            <h3 class="title" itemprop="name">
                @article.Title
            </h3>
            <div class="col-xs-12 col-sm-4 col-md-4 info-holder">
                <div class="books">
                    <div class="book">
                        <img src="@article.CoverImage" alt="@article.Title"
                             itemprop="image" />
                    </div>
                </div>
                <div class="info">
                    <div>
                        <h3><span class="glyphicon glyphicon-user"></span>&nbsp;Tác giả:</h3>
                        @for (int i = 0; i < authors.Count; i++)
                        {
                            <a itemprop="author" asp-controller="Author" asp-action="Index" asp-route-id="@authors[i].AuthorId" title="@authors[i].Name">@authors[i].Name</a>
                            if (i != authors.Count - 1)
                            {
                                @(", ")
                            }
                        }
                    </div>
                    <div>
                        <h3><span class="glyphicon glyphicon-tag"></span>&nbsp;Người đăng:</h3>
                        @if (user != null)
                        {
                            <a itemprop="genre" asp-controller="User" asp-action="Index" asp-route-id="@user.UserId" title="@user.UserName">@user.UserName</a>
                        }

                    </div>
                    <div>
                        <h3><span class="glyphicon glyphicon-tag"></span>&nbsp;Thể loại:</h3>
                        @for (int i = 0; i < genres.Count; i++)
                        {
                            <a itemprop="genre" asp-controller="Genre" asp-action="Index" asp-route-genreId="@genres[i].GenreId" title="@genres[i].Name">@genres[i].Name</a>
                            if (i != genres.Count - 1)
                            {
                                @(", ");
                            }
                        }
                    </div>

                    <div>
                        <h3><span class="glyphicon glyphicon-info-sign"></span>&nbsp;Tình trạng:</h3>
                        @if (article.IsCompleted)
                        {
                            <span class="label label-success">Hoàn thành</span>
                        }
                        else
                        {
                            <span class="label label-info">Đang tiến hành</span>
                        }
                    </div>



                </div>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8 desc">
                <div id="gioi-thieu-truyen" class="desc-text desc-text-full" itemprop="description">
                    @article.Description
                </div>

                <div class="showmore">
                    <a class="btn btn-default btn-xs hide" href="javascript:void(0)"
                       title="See more">Xem thêm »</a>
                </div>

                <div class="group-buttons">
                    <a asp-controller="Chapter" asp-action="Index" asp-route-articleId="@article.ArticleId" asp-route-index="1" class="btn btn-danger btn-block btn-style btn-border">
                        <span class="glyphicon glyphicon-eye-open"></span>&nbsp;&nbsp;ĐỌC TỪ ĐẦU
                    </a>
                    <a id="add-bookmark-btn" class="btn btn-info btn-border">
                        <span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;THÊM VÀO BOOKMARK
                    </a>
                </div>



                <div class="l-chapter">
                    <div class="l-title">
                        <h3>Chương mới nhất</h3>
                    </div>
                    <ul class="l-chapters">
                        @for (int i = 0; i < chapters.Count && i < 5; i++)
                        {
                            <li>
                                <span class="glyphicon glyphicon-certificate"></span>
                                <a asp-controller="Chapter" asp-action="Index" asp-route-articleId="@article.ArticleId" asp-route-index="@chapters[i].Index" title="@chapters[i].Title">
                                    <span class="chapter-text">
                                        @chapters[i].Title
                                    </span>
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-xs-12" id="list-chapter">
            <div id="danh-sach-chuong" class="title-list">
                <h2>Danh sách chương</h2>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6">
                    <ul class="list-chapter">
                        @for (int i = 0; i < 25 && i < chapters.Count; i++)
                        {
                            <li>
                                <span class="glyphicon glyphicon-certificate"></span>
                                <a asp-controller="Chapter" asp-action="Index" asp-route-articleId="@article.ArticleId" asp-route-index="@chapters[i].Index" title="@chapters[i].Title">
                                    <span class="chapter-text">
                                        @chapters[i].Title
                                    </span>
                                </a>
                            </li>
                        }

                    </ul>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6">
                    <ul class="list-chapter">
                        @for (int i = 25; i < 50 && i < chapters.Count; i++)
                        {
                            <li>
                                <span class="glyphicon glyphicon-certificate"></span>
                                <a asp-controller="Chapter" asp-action="Index" asp-route-articleId="@article.ArticleId" asp-route-index="@chapters[i].Index" title="@chapters[i].Title">
                                    <span class="chapter-text">
                                        @chapters[i].Title
                                    </span>
                                </a>
                            </li>
                        }

                    </ul>
                </div>
                <div id="pagination"></div>

            </div>
            <div id="comment" class="col-xs-12 comment-box">
                @await Html.PartialAsync("_PartialComments", @Model.ArticleId)
            </div>
        </div>
    </div>
    <div class="visible-md-block visible-lg-block col-md-3 text-center col-truyen-side">
        @await Component.InvokeAsync("RightSidebar")
    </div>
</div>

<!-- HTML code for the modal -->
<div id="bookmark-modal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <form id="bookmark-form">
            <input type="hidden" id="bookmarkId" name="bookmarkId" value="">
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" id="bookmark-name" name="name" class="form-control" value="@article.Title" required>
            </div>
            <div class="form-group">
                <label for="description">Description:</label>
                <textarea id="bookmark-description" name="description" class="form-control"></textarea>
            </div>
            <div class="form-group">
                <input type="checkbox" id="isPublic" name="isPublic">
                <label for="isPublic">Public</label>
            </div>

            <input type="hidden" id="bookmark-articleId" name="articleId" value="@article.ArticleId" required>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</div>


<style>
    .group-buttons {
        display: flex;
        justify-content: space-between;
        margin: 0 0 10px;
    }

    .btn.btn-style {
        -webkit-box-shadow: 0 3px 4px 0 #ced9d9;
        -moz-box-shadow: 0 3px 4px 0 #ced9d9;
        box-shadow: 0 3px 4px 0 #ced9d9;
        color: #fff;
        background-color: #9f251e;
        border-color: #94221c;
        -webkit-box-align: center !important;
        -webkit-align-items: center !important;
        -moz-box-align: center !important;
        -ms-flex-align: center !important;
        align-items: center !important;
    }

    .btn.btn-style-1 {
        -webkit-box-shadow: 0 3px 4px 0 #ced9d9;
        -moz-box-shadow: 0 3px 4px 0 #ced9d9;
        box-shadow: 0 3px 4px 0 #ced9d9;
        color: #222;
        border-color: #bdbbba;
        -webkit-box-align: center !important;
        -webkit-align-items: center !important;
        -moz-box-align: center !important;
        -ms-flex-align: center !important;
        align-items: center !important;
        margin-top: 0 !important;
    }

    .group-buttons .btn {
        padding: 12px 10px;
    }

    .btn-border {
        border-radius: 30px;
    }

    .btn {
        display: inline-block;
        margin-bottom: 0;
        font-weight: 400;
        text-align: center;
        vertical-align: middle;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        background-image: none;
        border: 1px solid transparent;
        white-space: nowrap;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
    }

    .btn-block {
        display: block;
        width: 100%;
        background-color: #fff;
    }

    .btn-danger {
        background-color: #ddd;
        border-color: #d43f3a;
    }

    .group-gt {
        font-family: roboto;
        font-weight: bold;
        border-radius: 90px;
        margin: 0 0 10px;
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
    }

        .group-gt .btn {
            border-radius: 30px;
        }

</style>


<!-- JavaScript code to handle the modal and form submission -->
<script>
    $(document).ready(function () {
        // Get the modal
        var modal = $("#bookmark-modal");

        // Get the <span> element that closes the modal
        var closeBtn = $(".close");

        // When the user clicks the button, open the modal
        $("#add-bookmark-btn").click(function () {
            modal.css("display", "block");
        });

        // When the user clicks on <span> (x), close the modal
        closeBtn.click(function () {
            modal.css("display", "none");
        });

        // When the user clicks anywhere outside of the modal, close it
        $(window).click(function (event) {
            if (event.target == modal[0]) {
                modal.css("display", "none");
            }
        });

        // Handle form submission
        $("#bookmark-form").submit(function (event) {
            event.preventDefault();


            var bookmarkId = $("#bookmarkId").val();
            var name = $("#bookmark-name").val();
            var description = $("#bookmark-description").val();
            var isPublic = $("#isPublic").is(":checked");
            var articleId = $("#bookmark-articleId").val();


            var bookmark = {
                bookmarkId: 0,
                name: name,
                description: description,
                isPublic: isPublic,
                articleId: articleId
            };

            var bookmarkJson = JSON.stringify(bookmark);
            // Send the bookmark data to the server
            $.ajax({
                url: "/api/bookmark/create",
                method: "POST",
                dataType: 'json',
                contentType: 'application/json',
                data: bookmarkJson,
                success: function (res) {
                    // Clear the form and close the modal
                    $("#bookmark-form")[0].reset();
                    modal.css("display", "none");
                    var str = `
                                    <span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;ĐÃ THÊM
                                      `;
                    $('#add-bookmark-btn').html(str);
                    if (res == false) {
                        alert("Đã tồn tại bookmark này rồi !");
                    }
                    else {
                        alert("Thêm bookmark thành công !");
                    }
                },
                error: function (xhr, textStatus, errorThrown) {
                    // handle error
                    alert('Error: ' + errorThrown);
                }
            });
        });
    });
</script>